body {
    font-family: Arial, sans-serif; /* Use a font that supports a wide range of characters */
    background-image: linear-gradient(
        0deg,
        #1A1A1A 55%,
        #D4D3D3 45%
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.login-container {
    width: 300px;
    height: 300px;   
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form-container {
    background-color: #F6F5F5;
    width: 200px;
    height: 200px;
    padding: 80px 50px;
    border-radius: 8px;
}

.form-container label {
    display: block; /* Ensure labels are displayed as blocks */
    text-align: left; /* Align labels to the left */
    margin-bottom: 5px; /* Add some space below each label */
}

.form-container input[type="password"],
.form-container input[type="text"] {
    width: 100%; /* Make input fields fill the width of the container */
    padding: 8px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Add some space below each input field */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: #E8F0FE;
}

.image-container {
    width: 200px;
    height: 100px;
    top: 7%;
    left: 50%;
    position: absolute;
    padding: 100px;
    transform: translate(-50%, -50%);
}

.logo {
    max-width: 100%;
    height: auto;
    display: block; /* Make sure the logo image occupies its own line */
    margin-bottom: 20px; /* Add some space below the logo */
}

.submit-button {
    float: right; /* Float the submit button to the right */
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #353535;
    color: #fff;
    border-radius: 4px;
    border: none;
}

.submit-button:hover {
    background-color: #141414;
}


